body {
  background-image: url('./img/background.svg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.app-container {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;

  h1 {
    text-align: center;
    margin-top: 5%;
    color: white;
    text-transform: capitalize;
    word-spacing: 3px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
}